body {
    font-family: 'Permanent Marker', cursive;
    background-image: url('images/bg.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 64px;
    text-align: center;
    font-size: 32px;
}

img {
    height: 100px;
    margin: 12px;
}